<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Aussi Zoo</title>
    <link rel="stylesheet" href="/style/main.css">
        <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/oldbirds.js" defer></script>

  </head>