* { 
    box-sizing: border-box;
}

body {
    background-color: #EAD2AC;
    margin: 0;
}

header { 
    background-color: #9CAFB7;
    margin: 0;
}
.nav-menu {
    margin: 0;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
  
 }

 ul { 
    list-style-type: none;
 }

 li { 
    padding: 10px;
 }

 .wrapper { 
    height: 100vh;
    display: flex;
   
 }

.main-content {
    flex: 3; 
    background-color: #E6B89C;
    padding: 20px; 
}

.sidebar {
    flex: 1;
    background-color: #FE938C;
    height: 100%;
}

  .animal-img {
    padding: 15px;
    height: auto;
    width: 100%;
    margin: 0;
    align-self: center;
  }

  .animal { 
    cursor: pointer;
  }