<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
        <div class="nav-container">
            <header class="menu">
              <ul class="nav-menu">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Mammals</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Reptiles</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Birds</a></li>
              </ul>
            </header>
          </div>
    </header>
    <div class="wrapper">
         <div class="sidebar"></div>
    <div class="main-content">Welcome Home! </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>