<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
       <%- include("..partial/navigation")%>
    </header>
    <div class="wrapper">
         <div class="sidebar"></div>
    <div class="main-content">Welcome Home! </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>